<form>
    <label for="id">Innlevering</label>
    <input type="text" name="id" id="id" placeholder="Skann (eller tast inn) løpenummeret for å levere inn" required
           pattern="{{ regex_id }}" autocomplete="off" autofocus>

    <button type="submit">Lever</button>
</form>

<script>
  $(document).ready(function () {
    $.confirm({
      title: 'Gå gjennom utstyret før innlevering!',
      content: '<li>Se gjennom vesker/etui - bekreft at alt er på plass<br>' +
          '<li>Sjekk minnekort og annet medfølgende tilbehør<br>' +
          '<li>Sett eventuelle batterier til lading<br>' +
          '<br>' +
          '<b>Eventuelle avvik skal registreres.</b>',
      type: 'orange',
      icon: 'fa fa-exclamation-triangle',
      buttons: {
        ok: {
          text: 'Den er grei!',
          btnClass: 'btn-blue',
          action: function () {
          }
        }
      }
    })
    $('#id').focus();
    $('form').submit(function (event) {
      event.preventDefault();
      url = "{{ url_for('api.return_equipment', item_id='REPLACE_ME') }}";
      url = url.replace('REPLACE_ME', $('#id').val());
      $.ajax({
        url: url,
        type: 'POST',
        success: function (result) {
          iziToast.success({
            title: 'Suksess!',
            message: `<i>${$('#id').val()}</i> ble levert`,
          })
          // Remove the row from the table
          $('#active tr').filter(function () {
            return $(this).find('td').eq(0).text() === $('#id').val();
          }).remove();
          // Clear the input field
          $('#id').val('');
        },
        error: function (result) {
          iziToast.error({
            title: 'Feil!',
            message: result.responseText,
          })
          // Clear the input field
          $('#id').val('');
        }
      });
    });
  });
</script>
