<script src="/static/js/tom-select.complete.min.js"></script>
<link rel="stylesheet" href="/static/css/tom-select.min.css"/>
<link rel="stylesheet" href="/static/css/extra/tom-select.css"/>

<script>
  let tomDefaults = {
    create: false,
    sortField: {
      field: 'text',
      direction: 'asc'
    },
    searchField: ['text'],
    hidePlaceholder: true,
    closeAfterSelect: true,
    selectOnTab: true,
    render: {
      no_results: function (data, escape) {
        return '<div class="no-results">Fant ingen verdier for <strong>' + escape(data.input) + '</strong></div>';
      },
    }
  }
</script>