gunicorn==23.0.0
flask==3.0.3
Flask-Session
requests==2.32.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
Werkzeug==3.1.3
Flask-Minify==0.48
Authlib==1.3.2
MarkupSafe==3.0.2
pymsteams==0.2.3
flask-compress==1.17
schedule==1.2.2
