gunicorn==25.3.0
flask==3.1.3
Flask-Session
requests==2.33.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
Werkzeug==3.1.7
Flask-Minify==0.50
Authlib==1.6.11
MarkupSafe==3.0.3
pymsteams==0.2.5
msteamsapi==0.9.5
flask-compress==1.24
schedule==1.2.2
