gunicorn~=22.0.0
flask~=3.0.2
Flask-Session
requests~=2.31.0
python-dateutil~=2.9.0
python-dotenv~=1.0.1
Werkzeug~=3.0.2
Flask-Minify~=0.42
Authlib~=1.3.0
MarkupSafe~=2.1.5
pymsteams~=0.2.2
flask-compress~=1.14
