<hgroup>
    <h2>Ansvarsavtale</h2>
    <h3>Avtale om bruk/lån av utstyr</h3>
</hgroup>
<blockquote>
    <h4>Denne avtalen sikrer:</h4>

    <ul>
        <li>eleven sin rett til å bruke utstyr vederlagsfritt til skolearbeid.</li>
        <li>skolen sin rett til å kreve erstatning for utstyr som eleven mister/blir frastjålet eller som kommer til
            skade
            ved uaktsom behandling.
        </li>
    </ul>
</blockquote>

<blockquote>
    <h4>Elevens ansvar:</h4>

    <ul>
        <li>Jeg har ansvar for å behandle utstyr jeg låner av skolen med varsomhet.</li>
        <li>Jeg har ansvar for å sjekke at utstyr jeg låner er i orden.</li>
        <li>Jeg har ansvar for å sikre at utstyret er beskyttet mot tyveri, fukt, varme og andre forhold som kan skade
            utstyret.
        </li>
        <li>Jeg har ansvar for å melde fra om uaktsom bruk av utstyr dersom jeg er vitne til det.</li>
        <li>Ved tap eller skade på utstyr plikter jeg straks å melde fra til lærer og fylle ut skade- og tapsskjema.
        </li>
        <li>Ved tap eller skade på utstyr som skyldes min uaktsomhet plikter jeg å betale omkostninger ved reparasjon
            eller
            nyanskaffelse.
        </li>
        <li>Jeg har ikke lov til å låne ut utstyret videre til andre.</li>
        <li>Utstyret skal alltid leveres inn etter endt bruk.</li>
    </ul>
</blockquote>

<blockquote>
    <i>
        <p>Skolen avgjør graden av erstatningsplikt i hvert enkelt tilfelle.</p>

        <p>Jeg har rett til å klage på skolens avgjørelse, og leverer klagen til skolens ledelse ved
            avdelingsleder.
        </p>

        <p>Dersom eleven er under 18 år må eleven ha tillatelse fra foresatte før avtalen kan godkjennes</p>
    </i>
</blockquote>