<article>
    <center>
        <hgroup>
            <h2>Ansvarsavtale</h2>
            <h3>Avtale om bruk/lån av utstyr</h3>
        </hgroup>
    </center>

    <hr>

    <blockquote>
        <center>
            <h4>Denne avtalen sikrer:</h4>
        </center>

        <li>Eleven sin rett til å bruke utstyr vederlagsfritt til skolearbeid.</li>
        <li>Skolen sin rett til å kreve erstatning for utstyr som eleven mister/blir frastjålet eller som kommer til
            skade ved uaktsom behandling.
        </li>
    </blockquote>

    <hr>

    <blockquote>
        <center>
            <h4>Elevens ansvar:</h4>
        </center>

        <li>Eleven har ansvar for å behandle utstyr eleven låner av skolen med varsomhet.</li>
        <li>Eleven har ansvar for å sjekke at utstyr eleven låner er i orden.</li>
        <li>Eleven har ansvar for å sikre at utstyret er beskyttet mot tyveri, fukt, varme og andre forhold som kan
            skade utstyret.
        </li>
        <li>Eleven har ansvar for å melde fra om uaktsom bruk av utstyr dersom eleven er vitne til det.</li>
        <li>Ved tap eller skade på utstyr plikter eleven seg til å straks melde fra til lærer og fylle ut skade- og
            tapsskjema.
        </li>
        <li>Ved tap eller skade på utstyr som skyldes min uaktsomhet plikter eleven seg til å betale omkostninger ved
            reparasjon eller nyanskaffelse.
        </li>
        <li>Eleven har ikke lov til å låne ut utstyret videre til andre.</li>
        <li>Utstyret skal alltid leveres inn etter endt bruk.</li>
    </blockquote>

    <hr>

    <br>
    
    <center>
        <i>
            Skolen avgjør graden av erstatningsplikt i hvert enkelt tilfelle.
            <br>
            <br>
            Eleven har rett til å klage på skolens avgjørelse, og leverer klagen til skolens ledelse ved
            avdelingsleder.
        </i>
    </center>

    <footer><small>
        <center>
            Dersom eleven er under 18 år må eleven ha tillatelse fra foresatte før avtalen kan godkjennes.
        </center>
    </small></footer>
</article>