html {
  color: var(--color);
  background-color: var(--background-color);
}


html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gabarito', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--color);
}


header, main, footer {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.red-button {
  background-color: var(--del-color);
  border: var(--del-color);
}

#theme-switcher {
  cursor: pointer;
}

.hidden {
  display: none;
}