option(value="" disabled selected hidden) Velg din klasse
option(value="1IMA" data-classroom_teacher="Lærer 1") 1IMA
option(value="1IMB" data-classroom_teacher="Lærer 2") 1IMB
option(value="1IMC" data-classroom_teacher="Lærer 3") 1IMC