extends layout

block main
    - var items = [{id: "A6500-1", description: "Sony A6500", category: "Kamera", status: "Ledig", aktiv_bruker: undefined}, {id: "AL-MC4", description: "Aputure AL-MC4 Lyssett", category: "Lys", status: "Utlånt", aktiv_bruker: {name: "Elev 1", classroom: "1IMA", teacher: "Lærer 1"}}]
    h1 Inventar

    a(href="/inventory/add") Legg til nytt inventar

    label(for="search") Søk i inventaren
    input(type="text" placeholder="Søk i inventar" id="search")

    table
        thead
            tr
                th Inventar
                th Beskrivelse
                th Status
                th
        tbody
            each item in items
                tr
                    td= item.id
                    td= item.description
                    td= item.status
                    td
                        if item.status == "Ledig"
                            a(href="/inventory/checkout/" + item.id) Lån
                        else
                            a(href="/inventory/checkin/" + item.id) Levert
