extends layout

block single_head
	script(src="/js/tables.js" defer)

block main
	hgroup
		h1 Historikk
		h2 Her kan du se alle hendelser. Dette er kun for administratorer.

	label(for="amount") Antall hendelser per side (Påvirker søk)
	select(name="amount" id="amount" onchange="updateTable();")
		option(value="100") 100
		option(value="1000") 2000
		option(value="5000") 5000

	input(type="text" id="search" oninput="searchTable(this.value, 'table');" placeholder="Søk i hendelser (kun synlige)")

	table#table
		tr
			th Dato
			th Hendelse
		tbody(id="log-table")
			tr

	center
		a.page-link(href="#" onclick="changePage(-1);") Forrige
		span= " - "
		a.page-link(href="#" onclick="changePage(1);") Neste

	script.
		let page = 0;

		function updateTable() {
		  let amount = $("#amount").val();
		  loadLogs(page, amount);
		}

		window.onload = function () {
		  updateTable();
		}

		function changePage(number) {
		  page += number;
		  if (page < 0) page = 0;
		  updateTable();
		}

		function loadLogs(page, amount) {
		  $.ajax({
			url: "/logs/fetch",
			type: "GET",
			data: {
			count: amount,
			offset: page * amount,
		  },
			success: function (data) {
			  if (data.length === 0) {
				changePage(-1)
				return;
				}
			  $("#log-table").html("");
			  for (let i = 0; i < data.length; i++) {
				let date = new Date(data[i].timestamp).toLocaleString();
				let event = data[i].event;
				$("#log-table").append(`<tr><td>${date}</td><td>${event}</td></tr>`);
			  }
			}
		  });
		}
