extends layout

block main
    h1 Registrer deg
    form(method="post" action="/register")
        label(for="name") Fullt navn
        input(type="text" name="name" id="name" value=feide.name disabled)

        label(for="school_email") Skolemail
        input(type="mail" name="school_email" id="school_email" value=feide.email disabled)

        label(for="personal_email") Epost
        input(type="mail" name="personal_email" id="personal_email" placeholder="Personlig epost (valgfritt)")

        label(for="classroom") Klasse
        select(name="classroom" id="classroom" required)
            include conf/classroom_teachers_selector

        label(for="classroom_teacher_disabled") Kontaktlærer
        input(type="text" name="classroom_teacher_disabled" id="classroom_teacher_disabled" placeholder="Mangler klasse" disabled)
        input(type="hidden" name="classroom_teacher" id="classroom_teacher" readonly="readonly")

        center
            input(type="checkbox" name="tc" id="tc" required)
            label(for="tc") Jeg har lest og godtar <a href="#tc-modal">vilkårene</a>, som gjør meg personlig ansvarlig for utstyret jeg låner.
        br
        label(for="submit")
        input(type="submit" id="submit" value="Registrer")

        script(src="/js/register.js" defer)
