a {
  cursor: pointer;
}

.success {
  color: var(--ins-color);
}

.error {
  color: var(--del-color);
}

.overdue {
  color: var(--del-color);
}

.btn-danger {
  background-color: var(--del-color);
  border-color: var(--del-color);
}

.filter__btn--inactive {
  background-color: var(--del-color);
  border-color: var(--del-color);
}

.hidden {
  display: none;
}

.banned {
  color: var(--del-color);
}