{% import 'user/globals.html' as g %}

<!DOCTYPE html>
<html lang="nb" data-theme="default">
<head>
    {% include 'partials/head.html' %}
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<body>

{% if bulletin and session.user and session.user.is_admin %}
    <div id="bulletin-section">
        <hgroup id="bulletin-contents">
            <h3>{{ bulletin_title }}</h3>
            <h4>{{ bulletin }}</h4></hgroup>
    </div>
{% endif %}

<header>
    {% block header %}
        {% if session.user and session.user.is_admin %}
            {% include 'partials/header_admin.html' %}
        {% else %}
            {% include 'partials/header.html' %}
        {% endif %}
    {% endblock %}
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    {% block footer %}
        {% if session.user and session.user.is_admin %}
            {% include 'partials/footer_admin.html' %}
        {% else %}
            {% include 'partials/footer.html' %}
        {% endif %}
    {% endblock %}
</footer>

<!-- THEME SWITCHER SCRIPT -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const themeButton = document.getElementById('theme-button');
        const htmlElement = document.documentElement;
        
        const storedTheme = localStorage.getItem('dataTheme') || 'dark';
        htmlElement.setAttribute('data-theme', storedTheme);
        
        function updateThemeIcons() {
          const currentTheme = htmlElement.getAttribute('data-theme');
          if (currentTheme === 'dark') {
            themeButton.querySelector('.lucide-sun').style.display = 'block';
            themeButton.querySelector('.lucide-moon').style.display = 'none';
          } else {
            themeButton.querySelector('.lucide-sun').style.display = 'none';
            themeButton.querySelector('.lucide-moon').style.display = 'block';
          }
        }
        
        updateThemeIcons();
        
        themeButton.addEventListener('click', function() {
          let currentTheme = htmlElement.getAttribute('data-theme');
          currentTheme = currentTheme === 'dark' ? 'light' : 'dark';
          htmlElement.setAttribute('data-theme', currentTheme);
          localStorage.setItem('dataTheme', currentTheme);
          updateThemeIcons();
        });
      });
</script>

</body>
</html>