{% extends '_layout.html' %}

{% block content %}

    <hgroup>
        <h2>Admin innstillinger</h2>
        <h3>Dersom du er forvirret av denne siden, så kan du trygt forlate den :)</h3>
    </hgroup>

    <a onclick="updateSendReports()">
        {% if send_reports %}
            <button id="toggle-reports--btn">Dagsrapporter sendes 10:00</button>
        {% else %}
            <button class="red-button" id="toggle-reports--btn">Dagsrapporter er deaktivert</button>
        {% endif %}
    </a>

    {% if last_sent %}
        <a onclick="sendReport()">
            <button id="send-report--btn">Send rapport (Sist sendt {{ last_sent | strfunixtime }})</button>
        </a>
    {% else %}
        <a onclick="sendReport()">
            <button>Send rapport</button>
        </a>
    {% endif %}

    <hgroup>
        <h2>Klasserom</h2>
        <h3>Et klasserom per linje, format: <b>1MEKA (Kontaktlærer)</b></h3>
    </hgroup>
    {% include 'forms/groups.html' %}

    <hgroup>
        <h2>Kategorier</h2>
        <h3>En kategori per linje</h3>
    </hgroup>
    {% include 'forms/categories.html' %}

    <hgroup>
        <h2>Bulletin</h2>
        <h3>En beskjed på toppen av siden. La feltene stå tomme for å fjerne bulletin</h3>
    </hgroup>
    {% include 'forms/bulletin.html' %}

    {% if routine_tasks_info %}
        <hgroup>
            <h2>Rutineoppgaver</h2>
            <h3>Status på rutineoppgaver (debugging)</h3>
        </hgroup>
        <table>
            <tr>
                <th>Oppgave</th>
                <th>Sist kjørt</th>
                <th>Utføringer</th>
            </tr>
            {% for task, values in routine_tasks_info.items() %}
                <tr>
                    <td>{{ task }}</td>
                    <td>{{ values['last_run'] | strfunixtime('%H:%M:%S %d.%m.%Y') }}</td>
                    <td>{{ values['runs'] }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <center>
        <small>Applikasjonen har kjørt siden
            {{ server_start_time | strfunixtime }}</small>
    </center>

    <script>
        let last_sent = "{{last_sent}}";

        function sendReport() {
            let last_sent_day = new Date(last_sent * 1000).getDate();
            let today = new Date().getDate();
            if (last_sent_day === today) {
                confirmMail("Bekreft utsendelse", "Det er allerede sendt ut rapport idag. Vil du likevel sende en ny?", _send)
            } else {
                _send()
            }
        }

        function updateSendReports() {
            $.ajax({
                url: "{{url_for('api.update_send_reports')}}",
                type: 'POST',
                success: function (result) {
                    customAlert('Oppdatert!', result, 'success', true)
                    $('#toggle-reports--btn').html(function (i, text) {
                        return text === 'Dagsrapporter sendes 10:00' ? 'Dagsrapporter er deaktivert' : 'Dagsrapporter sendes 10:00';
                    });
                    $('#toggle-reports--btn').toggleClass('red-button')
                },
                error: function (result) {
                    customAlert('Info', result.responseText, 'info', true)
                }
            });
        }

        function _send() {
            last_sent = new Date().getTime() / 1000;
            $('#send-report--btn').html('Send rapport (Sist sendt ' + new Date().toLocaleDateString('nb-NO', {
                day: '2-digit',
                month: '2-digit',
                year: 'numeric'
            }) + ')');
            $.ajax({
                url: "{{url_for('api.send_report')}}",
                type: 'POST',
                success: function (result) {
                    customAlert('Sendt!', result, 'success', true)
                },
                error: function (result) {
                    customAlert('Info', result.responseText, 'info', true)
                }
            });
        }
    </script>

{% endblock %}
