{% extends 'layout.html' %}

{% block extra_head %}
    {% include 'templates/chosen.html' %}
{% endblock %}

{% block content %}
    <hgroup>
        <h2>Lån ut utstyr</h2>
        <h3>Dersom du ikke finner eleven i listen, må eleven logge inn på nettstedet og fullføre registreringen.</h3>
    </hgroup>

    <form>
        <label for="user">Hvem låner?</label>
        <select name="user" id="user" data-placeholder="Søk etter bruker..." required>
            <option value=""></option>
            {% for user in all_users %}
                <option value="{{ user.userid }}">
                    {{ user.name }} ({% if user.classroom %}{{ user.classroom }}{% else %}Lærer{% endif %})
                </option>
            {% endfor %}
        </select>

        <label for="days">Hvor lenge (antall dager, maks 14)</label>
        <input type="number" name="days" id="days" min="1" max="90" value="1" required>

        <label for="equipment">Liste over utstyr</label>
        <select name="equipment" id="equipment" multiple data-placeholder="Marker dette feltet før du bruker skanneren!"
                required>
            <option value=""></option>
            {% for item in all_items %}
                <option value="{{ item.id }}">{{ item.id }}</option>
            {% endfor %}
        </select>

        <button type="submit">Lån ut</button>
    </form>

    <table id="user-bookings"></table>

    <script>
      $(document).ready(function () {
        $("#user").chosen(
          {
            no_results_text: 'Fant ikke brukere med navnet',
            search_contains: true,
            inherit_select_classes: true,
          }
        );
        $("#equipment").chosen(
          {
            no_results_text: 'Fant ikke utstyr med navnet',
            search_contains: true,
            inherit_select_classes: true,
          }
        );

        $('form').submit(function (event) {
          event.preventDefault();
          $.ajax({
            url: "{{ url_for('api.book_equipment') }}",
            data: $('form').serialize(),
            type: 'POST',
            success: function (response, status) {
              if (status === 'success') {
                cueAlert('Suksess!', response, 'success')
                window.location.href = "{{ url_for('app.index') }}";
              } else {
                iziToast.error({
                  title: 'Feil',
                  message: 'Noe gikk galt',
                });
              }
            },
            error: function (error) {
              iziToast.error({
                title: 'Feil!',
                message: 'Noe gikk galt',
              });
            }
          });
        });
      });

      let user = $('#user');
      user.change(function () {
        let table = $('#user-bookings');
        table.empty();

        let url = "{{ url_for('api.get_items_by_userid', userid = 'REPLACEME') }}";
        url = url.replace('REPLACEME', user.val());
        $.ajax({
          url: url,
          data: {user: user.val()},
          type: 'GET',
          success: function (response, status) {
            // Spawn table, send info toast if user has items, send warning toast if user has overdue items
            if (response.length > 0) {
              let any_overdue = false;
              table.append('<tr><th><b>Løpenummer</b></th><th><b>Utstyr</b></th><th><b>Kategori</b></th><th><b>Frist for levering</b></th></tr>');
              for (let i = 0; i < response.length; i++) {
                let item = response[i];
                let due_date = new Date(item.order_due_date)
                let overdue = due_date < new Date();
                let row = $('<tr></tr>');
                if (overdue) {
                  any_overdue = true;
                  row = $('<tr class="item-row--overdue"></tr>');
                }
                row.append('<td>' + item.id + '</td>');
                row.append('<td>' + item.name + '</td>');
                row.append('<td>' + item.category + '</td>');
                row.append('<td>' + due_date.toLocaleDateString('nb-NO', {
                  day: '2-digit',
                  month: '2-digit',
                  year: 'numeric'
                }) + '</td>');
                table.append(row);
              }
              if (any_overdue) {
                iziToast.warning({
                  title: 'Advarsel',
                  message: `Valgt bruker har utstyr som er over forfallsdato!`,
                });
              } else {
                iziToast.info({
                  title: 'Info',
                  message: `Valgt bruker har aktive lån.`,
                })
              }
            }
          },
        });
      });
    </script>

{% endblock %}
