{% extends 'layout.html' %}

{% block extra_head %}
    {% include 'templates/tom-select.html' %}
{% endblock %}

{% block content %}
    <hgroup>
        <h2>Lån ut utstyr</h2>
        <h3>Dersom du ikke finner eleven i listen, må eleven logge inn på nettstedet og fullføre registreringen.</h3>
    </hgroup>

    <form>
        <label for="user">Hvem låner?</label>
        <select name="user" id="user" data-placeholder="Søk etter bruker" required autocomplete="off">
            <option value=""></option>
            {% for user in users %}
                <option value="{{ user.userid }}"
                        data-classroom="
                {% if user.classroom %}
                        {{ user.classroom }}
                {% if user.teacher %} - {{ user.teacher }}{% endif %}
                {% else %}Lærer{% endif %}">{{ user.name }}</option>
            {% endfor %}
        </select>

        <label for="days">Hvor lenge (antall dager, maks 14)</label>
        <input type="number" name="days" id="days" min="{{ MIN_DAYS }}" max="{{ MAX_DAYS }}" value="1" required>

        <label for="equipment">Liste over utstyr</label>
        <select name="equipment" id="equipment" multiple data-placeholder="Marker dette feltet før du bruker skanneren!"
                required autocomplete="off">
            <option value=""></option>
            {% for item in items %}
                <option value="{{ item.id }}"
                        data-name="{{ item.name }}"
                        data-category="{{ item.category }}">
                    {{ item.id }}
                </option>
            {% endfor %}
        </select>

        <button type="submit">Lån ut</button>
    </form>

    <table id="user-bookings"></table>

    <script>
      let userSelect
      $(document).ready(function () {
        userSelect = new TomSelect('#user', {
          ...tomDefaults,
          maxItems: 1,
          searchField: ['text', 'classroom'],
          selectOnTab: true,
          render: {
            option: function (data, escape) {
              let icon = data.classroom === 'Lærer' ? 'fa-user-circle' : 'fa-user-circle-o';
              return `<div><i class="fa ${icon}"></i> \
<div class="option-text">${data.text}</div>\
<div class="option-details">${data.classroom}</div></div>`
            },
            item: function (data, escape) {
              let icon = data.classroom === 'Lærer' ? 'fa-user-circle' : 'fa-user-circle-o';
              return `<div class="booking-option">\<div class="option-inline-text">${data.text}</div>\
<div class="option-inline-details">${data.classroom}</div></div>`
            },
            no_results: function (data, escape) {
              return '<div class="no-results">Finner ingen bruker med navnet <strong>' + escape(data.input) + '</strong></div>';
            },
          },
          onDropdownClose: function (dropdown) {
            // Focus days input when user is selected
            let days = $('#days');
            days.focus();
            days.select();
          },
          onDropdownOpen: function (dropdown) {
            userSelect.clear()
          }
        });

        // When enter button is pressed while #days is focused, select #equipment-ts-control
        $('#days').keypress(function (e) {
          if (e.which === 13) {
            e.preventDefault();
            $('#equipment-ts-control').focus();
          }
        });

        new TomSelect('#equipment', {
          ...tomDefaults,
          plugins: ['remove_button'],
          openOnFocus: false,
          render: {
            option: function (data, escape) {
              return `<div class="booking-option">\
<div class="option-inline-text">${data.text}</div>\
<div class="option-inline-itemdetails">${data.name} (${data.category})</div></div>`
            },
            no_results: function (data, escape) {
              return '<div class="no-results">Finner ingen utstyr med løpenummer <strong>' + escape(data.input) + '</strong></div>';
            },
          }
        });

        $('form').submit(function (event) {
          event.preventDefault();
          $.ajax({
            url: "{{ url_for('api.book_equipment') }}",
            data: $('form').serialize(),
            type: 'POST',
            success: function (response, status) {
              if (status === 'success') {
                cueAlert('Utlevert!', response, 'success')
                window.location.href = "{{ url_for('app.index') }}";
              } else {
                iziToast.error({
                  title: 'Feil',
                  message: 'Noe gikk galt',
                });
              }
            },
            error: function (error) {
              iziToast.error({
                title: 'Feil!',
                message: 'Noe gikk galt',
              });
            }
          });
        });

        // On page load, focus user input
        $('#user-ts-control').focus();
      });

      let user = $('#user');
      user.change(function () {
        let table = $('#user-bookings');
        table.empty();

        if (user.val() === '') {
          return;
        }

        let name = userSelect.options[userSelect.items[0]].text;

        let url = "{{ url_for('api.get_items_by_userid', userid = 'REPLACEME') }}";
        url = url.replace('REPLACEME', user.val());
        $.ajax({
          url: url,
          data: {user: user.val()},
          type: 'GET',
          success: function (response, status) {
            // Spawn table, send info toast if user has items, send warning toast if user has overdue items
            if (response.length > 0) {
              let any_overdue = false;
              table.append('<tr><th><b>Løpenummer</b></th><th><b>Utstyr</b></th><th><b>Kategori</b></th><th><b>Frist for levering</b></th></tr>');
              for (let i = 0; i < response.length; i++) {
                let item = response[i];
                let due_date = new Date(item.order_due_date)
                let overdue = due_date < new Date();
                let row = $('<tr></tr>');
                if (overdue) {
                  any_overdue = true;
                  row = $('<tr class="item-row--overdue"></tr>');
                }
                row.append('<td>' + item.id + '</td>');
                row.append('<td>' + item.name + '</td>');
                row.append('<td>' + item.category + '</td>');
                row.append('<td>' + due_date.toLocaleDateString('nb-NO', {
                  day: '2-digit',
                  month: '2-digit',
                  year: 'numeric'
                }) + '</td>');
                table.append(row);
              }
              if (any_overdue) {
                iziToast.warning({
                  title: 'Advarsel',
                  message: `${name} har utstyr som er over forfallsdato!`,
                });
              } else {
                iziToast.info({
                  title: 'Info',
                  message: `${name} har aktive lån.`,
                })
              }
            }
          },
        });
      });
    </script>

{% endblock %}
