{% extends '_layout.html' %}

{% block content %}
    <hgroup>
        <h2>Hei {{ session.user.name }}!</h2>
        <h3>Velkommen til utstyrsrommet! Før du kan bruke utstyrsrommet må du velge klassen og kontaktlæreren din fra
            listen under.</h3>
    </hgroup>

    <form action="{{ url_for('api.register_student') }}" method="post">
        <select name="classroom" id="classroom_select" required
                data-placeholder="">
            <option value="" placeholder>
                {% if session.user.classroom %}
                    Nåværende: {{ session.user.classroom }}
                {% else %}
                    Velg klasse
                {% endif %}
            </option>
            {% for classroom in groups %}
                <option value="{{ classroom }}">{{ classroom }}</option>
            {% endfor %}
        </select>
        <input type="checkbox" name="responsibility" id="responsibility" required>
        <label for="responsibility">Jeg har lest og godtar ansvar for utstyr i henhold til <a
                href="{{ url_for('app.responsibility') }}" target="_blank">ansvarsavtalen</a>
        </label>

        <br>
        <input type="checkbox" name="responsibility" id="age" required>
        <label for="age">Jeg er over 18 år, eller har fått foresattes tillatelse til å bruke utstyrsrommet.</label>

        <blockquote>
            <hgroup>
                <h3>Obs!</h3>
                <h4>Ansvarsavtalen inkluderer økonomisk ansvar for utstyr som blir ødelagt eller mistet, i henhold til
                    avtalen.
                </h4></hgroup>
        </blockquote>

        <button type="submit">Bekreft</button>
    </form>

    {% if session.user.active %}
        <div style="color: green">
            Status: Du er klar til å bruke utstyrsrommet!
        </div>
    {% else %}
        <div style="color: red">
            <b>Status:</b>
            Du må oppdatere klassen din for å kunne bruke utstyrsrommet i år.
        </div>
    {% endif %}

    <script>
      $(document).ready(function () {
        $('form').submit(function () {
          cueAlert('Registrering fullført', 'Din bruker er blitt opprettet, og du har nå låst opp muligheten for å låne utstyr ut skoleåret.<br><br>Du trenger ikke gjøre mer på denne siden.', 'success');
        });
      });
    </script>

{% endblock %}


