{% extends '_layout.html' %}

{% block extra_head %}
    {% include 'templates/datatables.html' %}
{% endblock %}

{% block content %}
    <hgroup>
        <h2>Aktive ordre</h2>
        <h3>Sjekk at alt er med - bruk søkefeltet under til å dobbeltsjekke alle aktive ordre!</h3>
    </hgroup>

    <br>

    {% include 'forms/return.html' %}

    <center>
        <a href="{{ url_for('app.registrer_avvik') }}">Avvik? Klikk her!</a>
    </center>

    <br><br>

    {% if unavailable_items %}
        <table id="active">
            <thead>
            <tr>
                <th>Løpenummer</th>
                <th>Utstyr</th>
                <th>Utlånt til</th>
                <th>Frist for levering</th>
            </thead>
            <tbody id="datatable-body" style="display:none;">
            {% for item in unavailable_items %}
                {% if item.overdue %}
                    <tr class="item-row item-row--overdue">
                        {% else %}
                    <tr class="item-row">
                {% endif %}
            <td>{{ item.id }}</td>
            <td>{{ item.name }} ({{ item.category }})</td>
            <td>{{ item.lender_name }} <small> ({{ item.classroom }}{% if item.teacher %},
                {{ item.teacher }}{% endif %})</small></td>
            <td data-sort="{{ item.order_due_date }}">{{ item.order_due_date|strftime }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <hgroup>
            <h2>Smooth!</h2>
            <h3>Alt utstyr ligger inne.</h3>
        </hgroup>
    {% endif %}

    <script>
        let lang = {
            "lengthMenu": "Vis _MENU_ rader per side",
            "zeroRecords": "Ingen treff",
            "info": "Viser side _PAGE_ av _PAGES_",
            "infoEmpty": "Ingen rader tilgjengelig",
            "infoFiltered": "(filtrert fra _MAX_ rader totalt)",
            "search": "Søk:",
            "paginate": {
                "first": "Første",
                "last": "Siste",
                "next": "Neste",
                "previous": "Forrige"
            }
        };
        $('#active').DataTable({
            "language": lang,
            "order": [[3, "asc"]],
            "pageLength": 25,
            "lengthMenu": [[25, 50, -1], [25, 50, "Alle"]],
        });
        $('#datatable-body').show();

        // Autofocus on the id field when no input is focused
        $(document).ready(function () {
            $(document).on('click', function (e) {
                if (!$(e.target).is('input')) {
                    $('#id').focus();
                }
            });
        });
    </script>
{% endblock %}
