{% extends 'layout.html' %}

{% block extra_head %}
    {% include 'templates/datatables.html' %}
{% endblock %}

{% block content %}
    <hgroup>
        <h2>Inventar</h2>
        <h3>Her kan du legge til og endre inventaren. Du kan også skrive ut etiketter.</h3>
    </hgroup>

    <a href="{{ url_for('app.inventar_add') }}">
        <button>Legg til nytt inventar</button>
    </a>

    <a href="{{ url_for('app.varetelling') }}">
        <button>Varetelling</button>
    </a>

    <br>
    <br>

    <table id="items-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Navn</th>
            <th>Kategori</th>
            <th>Sist sett</th>
            <th>Administrer</th>
        </tr>
        </thead>
        <tbody id="items-table-items">
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.last_seen }}</td>
                <td>
                    {% if item.available %}
                        <a href="{{ url_for('app.edit_item', item_id=item.id) }}">Rediger</a>
                    {% else %}
                        Utlånt
                    {% endif %}
                    |
                    <a href="{{ url_for('app.print_item', item_id=item.id) }}">Etikett</a>
                    |
                    <a href="{{ url_for('app.audits') }}?search={{ item.id }}">Historikk</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
      $(document).ready(function () {
        $('#items-table').DataTable({
          "language": {
            "lengthMenu": "Vis _MENU_ rader per side",
            "zeroRecords": "Ingen treff",
            "info": "Viser side _PAGE_ av _PAGES_",
            "infoEmpty": "Ingen rader tilgjengelig",
            "infoFiltered": "(filtrert fra _MAX_ rader totalt)",
            "search": "Søk:",
            "paginate": {
              "first": "Første",
              "last": "Siste",
              "next": "Neste",
              "previous": "Forrige"
            }
          },
          "columnDefs": [
            {"orderable": false, "targets": 4}
          ],
          "pageLength": 25,
          "lengthMenu": [[25, 50, -1], [25, 50, "Alle"]],
          "stateSave": true,
        });
      });
    </script>

{% endblock %}