{% extends 'layout.html' %}

{% block extra_head %}
    {% include 'templates/tom-select.html' %}
{% endblock %}

{% block content %}
    <hgroup>
        <h2>Rediger inventar</h2>
        <h3>Redigerer {{ item.id }} ({{ item.name }})</h3>
    </hgroup>

    <form>
        <label for="id">Løpenummer</label>
        <input type="text" name="id" id="id" required placeholder="Eksempel: A6500-01"
               pattern="{{ regex_item }}"
               value="{{ item.id }}">

        <label for="name">Navn</label>
        <input type="text" name="name" id="name" required placeholder="Eksempel: Sony A6500"
               pattern="{{ regex_item }}"
               value="{{ item.name }}">

        <label for="category">Kategori</label>
        <select name="category" id="category" data-placeholder="Velg kategori" required autocomplete="off">
            <option value=""></option>
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}
                </option>
            {% endfor %}
        </select>

        <label for="included_batteries" hidden>Batterier</label>
        <input type="number" name="included_batteries" id="included_batteries" required
               value="{{ item.included_batteries }}" min="0" max="9" hidden>

        <button type="submit">Lagre</button>
    </form>

    <button class="red-button"
            onclick="confirmDelete('Bekreft', `Er du sikker på at du vil slette {{ item.id }}?`, deleteItem)">
        Slett
    </button>


    <script>
      function deleteItem() {
        $.ajax({
          type: 'DELETE',
          url: '{{ url_for("api.delete_item", item_id=item.id) }}',
          success: function (response) {
            cueToast('Suksess!', `${$('#id').val()} ble slettet.`, 'success');
            window.location.href = '{{ url_for("app.inventar") }}';
          },
          error: function (response) {
            iziToast.error({
              title: 'Feil!',
              message: response.responseText,
            });
          }
        });
      }

      $(document).ready(function () {
        $('#category').val('{{ item.category }}');
        new TomSelect('#category', tomDefaults);

        $('form').submit(function (event) {
          event.preventDefault();
          $.ajax({
            type: 'PUT',
            url: '{{ url_for("api.edit_item", item_id=item.id) }}',
            data: $('form').serialize(),
            success: function (response) {
              cueToast('Sukksess!', `${$('#id').val()} ble oppdatert.`, 'success');
              window.location.href = '{{ url_for("app.inventar") }}';
            },
            error: function (response) {
              iziToast.error({
                title: 'Feil!',
                message: response.responseText,
              });
            }
          });
        });
      });

      {% if used_ids %}
        let used_ids = {{ used_ids | tojson | lower }};
        let id = $('#id')
        $(id).change(function () {
          if (used_ids.includes($(id).val().toLowerCase()) && $(id).val().toLowerCase() !== '{{ item.id | lower }}') {
            $(id).attr('aria-describedby', 'taken');
            iziToast.warning({
              title: 'Ikke tilgjengelig',
              message: `${$(id).val()} er allerede i bruk.`,
            })
          } else {
            $(id).removeAttr('aria-describedby');
          }
        });
      {% endif %}
    </script>

{% endblock %}