{% extends 'layout.html' %}

{% block extra_head %}
{% include 'templates/datatables.html' %}
{% endblock %}

{% block content %}
<hgroup>
    <h1>Inventar</h1>
    <h2>Her kan du legge til, endre og slette inventar.</h2>
</hgroup>

<a href="{{ url_for('inventar_add') }}">Legg til nytt inventar</a>

<br>
<br>

<table id="items-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Navn</th>
        <th>Kategori</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="items-table-items">
    {% for item in items %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td>
            {% if item.available %}
            <a href="{{ url_for('edit_item', item_id=item.id) }}">Rediger</a>
            |
            <a href="{{ url_for('print_item', item_id=item.id) }}">Etikett</a>
            {% else %}
            Utlånt
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
  $(document).ready(function () {
    $('#items-table').DataTable({
      "language": {
        "lengthMenu": "Vis _MENU_ rader per side",
        "zeroRecords": "Ingen treff",
        "info": "Viser side _PAGE_ av _PAGES_",
        "infoEmpty": "Ingen rader tilgjengelig",
        "infoFiltered": "(filtrert fra _MAX_ rader totalt)",
        "search": "Søk:",
        "paginate": {
          "first": "Første",
          "last": "Siste",
          "next": "Neste",
          "previous": "Forrige"
        }
      }
    });
  });
</script>

{% endblock %}