{% extends '_layout.html' %}

{% block content %}
    <hgroup>
        <h2>Etikett Server</h2>
        <h3>Behov for ekstra etiketter, som ikke skal registreres i systemet? Da har du kommet til rett plass.</h3>
    </hgroup>
    <center>
        <img src="{{ labelserver_url }}/preview" alt="Forhåndsvisning" class="label-preview">
    </center>
    <br>
    <form action="{{ labelserver_url }}/print" method="POST">
        <label for="id" id="label_id">Løpenummer</label>
        <input type="text" name="id" id="id" placeholder="Løpenummer (A6500-01)"
               oninput="updatePreview()" autocomplete="off">
        <label for="name" id="label_name">Enhetsnavn</label>
        <input type="text" name="name" id="name" placeholder="Enhetsnavn (Sony A6500)"
               oninput="updatePreview()" autocomplete="off">
        <table>
            <tr>
                <td style="padding:0 1rem 0 0">
                    <label for="variant">Variant</label>
                    <select name="variant" id="variant" onchange="changeCategory()">
                        <option value="qr">QR</option>
                        <option value="barcode">Strekkode</option>
                        <option value="text">Tekst</option>
                        <option value="text_2_lines">Tekst (2 linjer)</option>
                    </select>
                </td>
                <td style="padding:0 0 0 1rem">
                    <label for="count">Antall</label>
                    <input type="number" name="count" id="count" value="1" min="1" max="9"
                           required>
                </td>
            </tr>
        </table>
        <button type="submit">
            Send til printer
        </button>
    </form>
    <script>
      let label_id = document.getElementById("label_id");
      let label_name = document.getElementById("label_name");
      let id = document.getElementById("id");
      let name = document.getElementById("name");
      let variant = document.getElementById("variant");

      function updatePreview() {
        document.getElementById("preview").src = `{{ labelserver_url }}/preview?id=${id.value}&name=${name.value}&variant=${variant.value}`;
      }

      function changeCategory() {
        let visiblity_map = {
          "qr": {
            id: 'Løpenummer (A6500-01)',
            label_id: 'Løpenummer',
            name: 'Enhetsnavn (Sony A6500)',
            label_name: 'Enhetsnavn'
          },
          "barcode": {id: 'Løpenummer (A6500-01)', label_id: 'Løpenummer'},
          "text": {id: 'Tekst', label_id: 'Tekst'},
          "text_2_lines": {
            id: 'Linje 1',
            label_id: 'Linje 1',
            name: 'Linje 2',
            label_name: 'Linje 2'
          }
        };

        for (let element of [id, name, label_id, label_name]) {
          if (element.id in visiblity_map[variant.value]) {
            element.placeholder = visiblity_map[variant.value][element.id];
            element.innerText = visiblity_map[variant.value][element.id];
            element.classList.remove("hidden");
          } else {
            element.classList.add("hidden");
          }
        }

        updatePreview();
      }

      let form = document.querySelector("form");
      form.addEventListener("submit", function (e) {
        e.preventDefault();
        fetch("{{ labelserver_url }}/print", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body:
            JSON.stringify({
              id: id.value,
              name: name.value,
              variant: variant.value,
              count: document.getElementById("count").value
            })
        }).then(response => {
          if (response.status === 200) {
            iziToast.success({
              title: 'Utskrift',
              message: `Etikett ble sendt til skriver.`
            })
          } else {
            iziToast.warning({
              title: 'Utskrift',
              message: "Klarte ikke koble til etikett tjeneren.",
            })
          }
        });
      });
    </script>
{% endblock %}