<!DOCTYPE html>
<html lang="nb">
<head>
    {% include 'partials/head.html' %}
    {% block extra_css %}{% endblock %}
    {% block extra_js %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<body>
<header>
    {% block header %}
        {% if session.user and session.user.is_admin %}
            {% include 'partials/header_admin.html' %}
        {% else %}
            {% include 'partials/header.html' %}
        {% endif %}
    {% endblock %}
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    {% block footer %}
        {% if session.user and session.user.is_admin %}
            {% include 'partials/footer_admin.html' %}
        {% else %}
            {% include 'partials/footer.html' %}
        {% endif %}
    {% endblock %}
</footer>
</body>
</html>