{% extends 'layout.html' %}

{% block content %}

    <hgroup>
        <h2>Personvernserklæring</h2>
        <h3>Informasjon du trenger om hvilken data vi samler om deg</h3>
    </hgroup>

    <article>
        <hgroup>
            <h2>Feide</h2>
            <h3>Når du logger inn med Feide, gir du fra deg følgende data</h3>
        </hgroup>
        Følgende data lagres:
        <li>Navn</li>
        <li>Student e-post</li>
        <li>Feide ID (En unik ID som representerer deg)</li>

        <footer><small>
            Ditt navn og din ID vil bli loggført ved utlån av utstyr som kan søkes opp av administrerende brukere, men
            vil ikke bli delt med andre.
        </small></footer>
    </article>

    <article>
        <hgroup>
            <h2>Ved registrering</h2>
            <h3>Når du registrerer deg, lagres følgende data</h3>
        </hgroup>
        <li>Ditt valg om klasse og kontaktlærer</li>
        <li>Om du har lest og godtar ansvarsavtalen</li>
        <li>Om du er over 18 år, eller har fått foresattes tillatelse til å bruke utstyrsrommet</li>

        <footer><small>
            Dette er data som er nødvendig for å kunne bruke utstyrsrommet, i tillegg er det ved dette steget dataen fra
            Feide blir lagret.
        </small></footer>
    </article>

    <article>
        <hgroup>
            <h2>Hva skjer med dataen?</h2>
            <h3>Lagret data er kun gyldig i 1 skoleår, og vil slettes før skolestart</h3>
        </hgroup>

        Du vil fremdeles være søkbar i utlånshistorikken, men kontoen din og all dataen som er knyttet til den vil
        bli slettet. Utlånshistorikken slettes kontinuerlig etter hvert som den blir gammel.

        <footer><small>
            <b>Obs for ansatte:</b> Ansatte ved skolen som har brukt utstyrsrommet vil ikke bli slettet automatisk.
        </small></footer>

    </article>

    <article>
        <hgroup>
            <h2>Slett meg</h2>
            <h3>Ønsker du å slette din konto?</h3>
        </hgroup>
        Dersom du ønsker å slette din konto kan du gjøre det ved å trykke knappen under. Du kan når
        som helst logge inn igjen for å opprette kontoen på nytt.

        <br>
        <br>
        
        Dersom du behøver hjelp til å slette kontoen din, kan du ta kontakt med de ansatte i utstyrsrommet eller
        IT-avdelingen.

        <footer>
            <button onclick="deleteMe()" class="red-button">Slett min brukerkonto</button>
        </footer>
    </article>



    {% if session.user %}
        <script>
          function deleteMe() {
            confirmDelete('Slett konto', 'Er du sikker på at du vil slette kontoen din?<br>Du kan når som helst logge inn igjen for å opprette en ny konto.', deleteAction);
          }

          function deleteAction() {
            $.ajax({
              url: '{{ url_for("api.delete_me") }}',
              type: 'DELETE',
              success: function (response) {
                cueAlert('Konto slettet!', 'Kontoen din ble slettet.', 'success');
                window.location.href = '{{ url_for("app.index") }}';
              },
              error: function (response) {
                cueAlert('Kunne ikke slette kontoen din', 'Det oppstod en feil under slettingen av kontoen din. Prøv igjen senere, eller kontakt IT.', 'error');
              }
            });
          }
        </script>
    {% else %}
        <script>
          function deleteMe() {
            $.alert({
              title: 'Innlogging påkrevd',
              icon: 'fa fa-lock',
              type: 'orange',
              content: 'Du må være pålogget for å kunne slette kontoen din.',
              buttons: {
                login: {
                  text: 'Logg inn',
                  btnClass: 'btn-blue',
                  action: function () {
                    window.location.href = '{{ url_for("app.login") }}';
                  }
                },
                cancel: {
                  text: 'Avbryt',
                  btnClass: 'btn-red',
                  action: function () {
                  }
                }
              }
            });
          }
        </script>
    {% endif %}
{% endblock %}

