{% extends 'layout.html' %}

{% block extra_head %}
    {% if session.user and session.user.is_admin %}
    {% else %}
        {% include 'templates/alerts.html' %}
    {% endif %}
{% endblock %}

{% block content %}

    <hgroup>
        <h2>Personvernserklæring</h2>
        <h3>Informasjon du trenger om hvilken data vi samler om deg</h3>
    </hgroup>

    <blockquote>
        <hgroup>
            <h4>Feide</h4>
            <h5>Når du logger inn med Feide, gir du fra deg følgende data</h5>
        </hgroup>
        Følgende data lagres:
        <ul>
            <li>Navn</li>
            <li>Student e-post</li>
            <li>Feide ID (En unik ID som representerer deg)</li>
        </ul>

        Følgende data gir du tilgang på, men brukes kun til autentisering:
        <ul>
            <li>Organisasjon (Gir oss informasjon om du er en gyldig elev eller ansatt)</li>
        </ul>
    </blockquote>

    <blockquote>
        <hgroup>
            <h4>Loggføring</h4>
            <h5>Når du låner utstyr, vil dette loggføres med navnet ditt</h5>
        </hgroup>

        For å kunne identifisere hvem som har brukt utstyret, arkiveres & loggføres følgende data i det du låner utstyr:
        <ul>
            <li>Navn på utlåner</li>
            <li>Klasse og kontaktlærer</li>
            <li>Dato og tidspunkt</li>
            <li>Hvilket utstyr som er brukt</li>
        </ul>

        Dette er for å kunne identifisere hvem som har brukt utstyret over tid, og for å kunne spore utstyr som ikke
        blir levert.
    </blockquote>

    <blockquote>
        <hgroup>
            <h4>Ved registrering</h4>
            <h5>Når du registrerer deg, lagres følgende data</h5>
        </hgroup>
        <ul>
            <li>Ditt valg om klasse og kontaktlærer</li>
            <li>Om du har lest og godtar ansvarsavtalen</li>
            <li>Om du er over 18 år, eller har fått foresattes tillatelse til å bruke utstyrsrommet</li>
        </ul>
    </blockquote>

    <blockquote>
        <hgroup>
            <h4>Hva skjer etterpå?</h4>
            <h5>Dataen som blir lagret er kun gyldig i 1 skoleår, og vil slettes før skolestart</h5>
        </hgroup>

        Du vil fremdeles være søkbar i utlånshistorikken, men kontoen din og all dataen som er knyttet til den vil
        bli slettet. Utlånshistorikken slettes kontinuerlig etter hvert som den blir gammel.
        <br>
        <br>
        <b>Obs for ansatte:</b> Ansatte ved skolen som har brukt utstyrsrommet vil ikke bli slettet automatisk, men kan
        slettes manuelt.
    </blockquote>

    <blockquote>
        <hgroup>
            <h4>Slett meg</h4>
            <h5>Ønsker du å slette din konto?</h5>
        </hgroup>
        Dersom du ønsker å slette din konto kan du gjøre det ved å trykke knappen under. Du kan når
        som helst logge inn igjen for å opprette kontoen på nytt.

        <br>
        <br>
        Dersom du behøver hjelp til å slette kontoen din, kan du ta kontakt med de ansatte i utstyrsrommet eller
        IT-avdelingen.
        <br>
        <br>
        <button onclick="deleteMe()" class="red-button">Slett min brukerkonto</button>
    </blockquote>



    {% if session.user %}
        <script>
          function deleteMe() {
            confirmDelete('Slett konto', 'Er du sikker på at du vil slette kontoen din?<br>Du kan når som helst logge inn igjen for å opprette en ny konto.', deleteAction);
          }

          function deleteAction() {
            $.ajax({
              url: '{{ url_for("api.delete_me") }}',
              type: 'DELETE',
              success: function (response) {
                cueAlert('Konto slettet!', 'Kontoen din ble slettet.', 'success');
                window.location.href = '{{ url_for("app.index") }}';
              },
              error: function (response) {
                cueAlert('Kunne ikke slette kontoen din', 'Det oppstod en feil under slettingen av kontoen din. Prøv igjen senere, eller kontakt IT.', 'error');
              }
            });
          }
        </script>
    {% else %}
        <script>
          function deleteMe() {
            $.alert({
              title: 'Innlogging påkrevd',
              icon: 'fa fa-lock',
              type: 'orange',
              content: 'Du må være pålogget for å kunne slette kontoen din.',
              buttons: {
                login: {
                  text: 'Logg inn',
                  btnClass: 'btn-blue',
                  action: function () {
                    window.location.href = '{{ url_for("app.login") }}';
                  }
                },
                cancel: {
                  text: 'Avbryt',
                  btnClass: 'btn-red',
                  action: function () {
                  }
                }
              }
            });
          }
        </script>
    {% endif %}
{% endblock %}

