include css.pug
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")

script(src="/js/modals.js")
link(rel="stylesheet" href="/modals.css")
link(rel="stylesheet" href="/style.css")