a(href="/edugear") Hjem

if(logged_in || true)
	a(href="/inventory") Inventar
	a(href="/lend") Lån utstyr
	a(href="/return") Levert utstyr
	a(href="/users") Brukere
	a(href="/logs") Historikk
	a(href="/logout") Logg ut