.modal-content
    h2 Legg til
    .modal-close
        a(onclick=`closeModal('${add_item_modal_id}', true)`) ×

    label(for="add-item-name") ID
    input(type="text" id="add-item-name" placeholder="ID" required oninput=`checkUniqueItemName(this, [${existing_items}]);`)

    label(for="add-item-description") Varebeskrivelse
    input(type="text" id="add-item-description" placeholder="Fullstendig beskrivelse (Sony A6500)" required)

    // TODO: Select from list of categories, or add new category
    label(for="add-item-category") Kategori
    input(type="text" id="add-item-category" placeholder="Kategori (Kamera, Lys, Stativ, etc.)" required)

    p#add-item-response-message Obs! Alle feltene er påkrevd

    button(type="button" onclick="addItem()") Legg til
    button(type="button" onclick=`closeModal('${add_item_modal_id}')`) Ferdig