datalist {
  --background-color: var(--form-element-background-color);
    --border-color: var(--form-element-border-color);
    --color: var(--form-element-color);
    --box-shadow: none;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    outline: 0;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    color: var(--color);
    font-weight: var(--font-weight);
    transition: background-color var(--transition),border-color var(--transition),color var(--transition),box-shadow var(--transition);
}

datalist:active {
    --background-color: var(--form-element-background-color-active);
    --border-color: var(--form-element-border-color-active);
    --color: var(--form-element-color-active);
    --box-shadow: var(--form-element-box-shadow-active);
}

datalist option {
  cursor: pointer;
}

/* option active styles */
datalist option:hover, datalist option:focus {
  color: var(--background-color);
  background-color: #99c9ff;
}