body:has(.modal-open) {
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
    padding-right: 1rem;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.modal-open {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0);
}

.modal-open * {
    user-select: text;
    pointer-events: auto;

}

.modal-content {
    position: relative;
    width: 70%;
    padding: 2rem;
    border: 5px solid var(--primary);
    background-color: var(--background-color);
}

.modal-close {
    position: absolute;
    top: 0;
    right: 1rem;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

#user-list {
    max-height: 30vh;
    overflow: scroll;
    overflow-x: hidden;
}

:has(#selected_user:placeholder-shown) #selected_user--btn {
    background-color: var(--del-color);
    border-color: var(--del-color);
}

:has(#selected_user:not(:placeholder-shown)) #selected_user--btn {
    background-color: var(--ins-color);
    border-color: var(--ins-color);
}