{% include 'partials/css_student.html' %}

<style>
  .hidden {
    display: none;
  }

  .warning {
    color: var(--del-color);
  }

  .item-row--overdue td {
    font-style: italic;
    color: var(--del-color);
  }

  .label-preview {
    width: 50%;
    border: .5rem solid white;
    border-radius: 1rem;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    background-color: var(--background-color);
    min-width: 12ch;
    padding: 1rem;
    z-index: 999;
  }

  .dropdown a {
    padding-top: 0;
    padding-bottom: 0;
  }

  #bulletin-section {
    background-color: var(--form-element-focus-color);
    text-align: center;
  }

  #bulletin-contents {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
    color: var(--form-element-color);
  }

  .last-seen-recent {
    font-style: italic;
  }

  .last-seen-stale {
    color: var(--del-color);
  }

  /* Use the same max-width as body main */
  @media (min-width: 1200px) {
    #bulletin-contents {
      max-width: 1130px;
    }
  }

  @media (max-width: 992px) {
    #bulletin-contents {
      max-width: 920px;
    }
  }

  @media (max-width: 768px) {
    #bulletin-contents {
      max-width: 700px;
    }
  }

  @media (max-width: 576px) {
    #bulletin-contents {
      max-width: 510px;
    }
  }
</style>