{% include 'partials/css_student.html' %}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/iziToast.min.css">
<link rel="stylesheet" href="/static/css/jquery-confirm.min.css">

<style>
  .red-button {
    background-color: red;
    border: red;
  }

  .warning {
    color: orangered;
  }

  .item-row--overdue td {
    font-style: italic;
    color: orangered;
  }

  .label-preview {
    width: 50%;
    border: .5rem solid white;
    border-radius: 1rem;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    background-color: var(--background-color);
    min-width: 12ch;
    padding: 1rem;
    z-index: 999;
  }

  .jconfirm.jconfirm-modern .jconfirm-box {
    background-color: var(--card-background-color) !important;
  }

  .jconfirm-bg {
    background-color: var(--background-color) !important;
  }

  .jconfirm-title {
    color: var(--h1-color) !important;
  }

  .jconfirm-content {
    color: var(--color) !important;
  }

  .jconfirm button {
    width: auto !important;
  }


</style>