<nav>
    <li><a href="{{ url_for('app.index') }}">Utstyrbase</a></li>
    <ul>
        <li><a href="{{ url_for('app.booking') }}">
            Utlån
        </a></li>
        <li><a href="{{ url_for('app.innlevering') }}">
            Innlevering
        </a></li>
        <div class="dropdown">
            <li><a class="dropbtn" href="{{ url_for('app.inventar') }}">
                <i class="fa fa-cogs" aria-hidden="true"></i>
            </a></li>
            <div class="dropdown-content">
                <a href="{{ url_for('app.inventar') }}">Inventar</a>
                <a href="{{ url_for('app.admin_settings') }}">Adminpanel</a>
                <a href="{{ url_for('app.labelserver') }}">Etikettserver</a>
                <a href="{{ url_for('app.audits') }}">Audits</a>
                {% if not session.method == 'kiosk' %}
                    <a href="https://github.com/sondregronas/FeideUtstyrbase" target="_blank">Kildekode</a>
                    <a href="{{ url_for('app.privacy') }}">Personvern</a>
                    <a href="{{ url_for('app.logout') }}">Logg ut</a>
                {% endif %}
            </div>
        </div>
        <li>
            <a id="theme-switcher" onclick="switchTheme()" data-toggle="tooltip" data-placement="bottom"
               title="Bytt tema">
                <i class="fa fa-adjust"></i>
            </a>
        </li>
    </ul>
</nav>


