<!---

<div class="header">
    <div class="header-left">
      <a href="{{ url_for('app.index') }}" class="logo">Utstyrbase</a>
    </div>
    <div class="header-right">
      <ul class="menu">
        <li>
          <a href="{{ url_for('app.inventar') }}">
            <i class="fa fa-box" aria-hidden="true"></i> Se Utstyr
          </a>
        </li>
        <li class="dropdown">
          <a class="dropbtn" href="#">
            <i class="fa fa-cogs" aria-hidden="true"></i>
          </a>
          <ul class="dropdown-content">
            <li><a href="{{ url_for('app.inventar') }}">Inventar</a></li>
            <li><a href="{{ url_for('app.admin_settings') }}">Adminpanel</a></li>
            <li><a href="{{ url_for('app.labelserver') }}">Etikettserver</a></li>
            <li><a href="{{ url_for('app.audits') }}">Audits</a></li>
            {% if not session.method == 'kiosk' %}
              <li><a href="https://github.com/sondregronas/FeideUtstyrbase" target="_blank">Kildekode</a></li>
              <li><a href="{{ url_for('app.privacy') }}">Personvern</a></li>
              <li><a href="{{ url_for('app.logout') }}">Logg ut</a></li>
            {% endif %}
          </ul>
        </li>
        <li>
          <a id="theme-switcher" onclick="switchTheme()" data-toggle="tooltip" data-placement="bottom" title="Bytt tema">
            <i class="fa fa-adjust"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

-->

<div class="header">
  <div class="header-left">
    <a href="{{ url_for('app.index') }}" class="header-logo">Utstyrdatabase</a>
  </div>
  <div class="header-right">
    <div class="header-menu">
        <a id="utstyr-button" class="header-menu-item" href="{{ url_for('app.inventar') }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-package">
          <path d="m7.5 4.27 9 5.15"></path>
          <path d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"></path>
          <path d="m3.3 7 8.7 5 8.7-5"></path>
          <path d="M12 22V12"></path>
        </svg>
        Se Utstyr
      </a>
      <div id="settings-button" class="header-menu-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-settings "><path d="M12.22 2h-.44a2 2 0 0 0-2 2v.18a2 2 0 0 1-1 1.73l-.43.25a2 2 0 0 1-2 0l-.15-.08a2 2 0 0 0-2.73.73l-.22.38a2 2 0 0 0 .73 2.73l.15.1a2 2 0 0 1 1 1.72v.51a2 2 0 0 1-1 1.74l-.15.09a2 2 0 0 0-.73 2.73l.22.38a2 2 0 0 0 2.73.73l.15-.08a2 2 0 0 1 2 0l.43.25a2 2 0 0 1 1 1.73V20a2 2 0 0 0 2 2h.44a2 2 0 0 0 2-2v-.18a2 2 0 0 1 1-1.73l.43-.25a2 2 0 0 1 2 0l.15.08a2 2 0 0 0 2.73-.73l.22-.39a2 2 0 0 0-.73-2.73l-.15-.08a2 2 0 0 1-1-1.74v-.5a2 2 0 0 1 1-1.74l.15-.09a2 2 0 0 0 .73-2.73l-.22-.38a2 2 0 0 0-2.73-.73l-.15.08a2 2 0 0 1-2 0l-.43-.25a2 2 0 0 1-1-1.73V4a2 2 0 0 0-2-2z"></path><circle cx="12" cy="12" r="3"></circle></svg>
      </div>
      <div id="theme-button" class="header-menu-item">
        <!-- SUN -->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sun">
          <circle cx="12" cy="12" r="4"></circle>
          <path d="M12 2v2"></path>
          <path d="M12 20v2"></path>
          <path d="m4.93 4.93 1.41 1.41"></path>
          <path d="m17.66 17.66 1.41 1.41"></path>
          <path d="M2 12h2"></path>
          <path d="M20 12h2"></path>
          <path d="m6.34 17.66-1.41 1.41"></path>
          <path d="m19.07 4.93-1.41 1.41"></path>
        </svg>
      
        <!-- MOON -->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon">
          <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
        </svg>
      </div>      
    </div>
  </div>
</div>
