<title>
    Utstyrbase
    {% if request.path != '/' %}
        - {{ request.path|split('/')|last|title }}
    {% endif %}
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">

{% if session.user and session.user.is_admin %}
    {% include 'partials/css.html' %}
    {% include 'partials/js.html' %}
{% else %}
    {% include 'partials/css_student.html' %}
    {% include 'partials/js_student.html' %}
{% endif %}

{% include 'templates/alerts.html' %}

{% block extra_head %}{% endblock %}