{% include 'partials/js_student.html' %}

<script>
  $(document).ready(function () {
    // Dropdown menu
    $('.dropdown').hover(function () {
      $(this).find('.dropdown-content').first().stop(true, true).slideDown(150);
    }, function () {
      $(this).find('.dropdown-content').first().stop(true, true).slideUp(105)
    });

    // Update aria-invalid attribute on inputs and selects
    let inputs = $('input');
    inputs = inputs.add($('select'));
    $(inputs).on('change', function () {
      updateAriaInvalid(this);
    });

    function updateAriaInvalid(object) {
      let taken = $(object).attr('aria-describedby') === 'taken';
      if ($(object).val() === '') {
        $(object).removeAttr('aria-invalid');
      } else if ($(object).is(':invalid') || taken) {
        $(object).attr('aria-invalid', 'true');
      } else {
        $(object).attr('aria-invalid', 'false');
      }
    }
  });
</script>