<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="dark light">

<meta name="description"
      content="Klargjør kontoen din for utlån! Ved å autentisere deg med Feide får du tilgang til utlån av skolens utstyr. Tilgangen blir gjeldende ut skoleåret.">
<meta property="og:url" content="https://{{ FQDN }}">
<meta property="og:type" content="website">
<meta property="og:title" content="Utstyrbase">
<meta property="og:description"
      content="Klargjør kontoen din for utlån! Ved å autentisere deg med Feide får du tilgang til utlån av skolens utstyr. Tilgangen blir gjeldende ut skoleåret.">
<meta property="og:image" content="https://{{ FQDN }}/static/logo.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" content="{{ FQDN }}">
<meta name="twitter:url" content="https://{{ FQDN }}">
<meta name="twitter:title" content="Utstyrbase">
<meta name="twitter:description"
      content="Klargjør kontoen din for utlån! Ved å autentisere deg med Feide får du tilgang til utlån av skolens utstyr. Tilgangen blir gjeldende ut skoleåret.">
<meta name="twitter:image" content="https://{{ FQDN }}/static/logo.png">

{% if session.user and session.user.is_admin %}
    <link rel="manifest" href="/manifest.json">
{% endif %}